# Database connection string
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/3DGalaxy?schema=public&sslmode=disable"

# Application Settings
NODE_ENV=development
PORT=4000
APP_URL=https://3dgalaxy.co.in
SITE_URL=https://3dgalaxy.co.in
SITE_NAME="3D Galaxy"
ADMIN_APP_URL=https://admin.3dgalaxy.in
SUPPORT_EMAIL=support@3dgalaxy.co.in
CLIENT_URL=http://localhost:4200

