PORT=5000
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:3000

PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=3DGalaxy
PG_PASSWORD=12345678
PG_PORT=5432
PG_SSL=false

APP_FIREBASE_STORAGE_BUCKET=your_storage_bucket
APP_FIREBASE_SERVICE_ACCOUNT_BASE64=your_base64_encoded_service_account
