<button
  [type]="type"
  [disabled]="loading || disabled"
  [class]="computedClasses"
  [class.opacity-70]="loading || disabled"
  [class.pointer-events-none]="loading || disabled"
  (click)="onClick($event)"
>
  @if (loading) {
    <div class="spinner"></div>
    <span class="font-bold flex items-center gap-1">{{ loadingText }}</span>
  } @else {
    @if (icon) {
      <mat-icon class="text-[1.2rem] h-[1.2rem] w-[1.2rem] shrink-0 leading-[1.2rem]">{{ icon }}</mat-icon>
    }
    <span class="font-bold">{{ text }}</span>
  }
</button>

